html,input{
    font-family: sans-serif;
}

body{
    width: 100%;
    max-width: 600px;
    margin: 2px auto;
    padding: 2em;
}

.headerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: tomato;
    font-weight: bold;
    margin-bottom: 20px;
}

form{
    margin-top: 50px;
}

div{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label, input, button{
    font-size: 16px;
    line-height: 1.5;
}
label{
    text-align: right;
    width: 30%;
    margin-right: 2%;
}
input{
    flex: auto;
}
button{
    width: 70%;
    margin: 0 auto;
}
error-outout{
    font-size: 12px;
    font-weight: italic;
    color: red;
}

@media only screen and (max-width:360px){
    h1{
        font-size:40px;
        text-align: center;

    }
    label{
        width: 40%;
        font-size: 14px;
    }
    .nativeDateTimePicker{
        width: 60%;
        
    }
} 
